.sideDrawer {
    background: #000000bf;
    height: 100vh;
    padding: 25px;
}

.sideDrawer>* {
    margin-bottom: 10px;
}

.lang {
    display: block;
}

.input, .output {
    color: white;
}

.topRow {
    text-align: center;
    margin-bottom: 20px;
}

.topRow button {
    width: 90%;
}