.sideDrawer {
    background: #000000bf;
    height: 100vh;
    padding: 25px;
}

.sideDrawer > * {
    /* display: block; */
    margin-bottom: 10px;
}

.lang {
    display: block;
}

.input, .output {
    color: white;
}