@import '~antd/dist/antd.css'; 

/* Global styles */
.btn_success {
    background: green;
    border: 2px solid transparent;
    color: white;
    padding: 3% 5%;
    cursor: pointer;
    outline: none;
    transition: linear 0.2s;
}

.btn_success:hover {
    background: transparent;
    border: 2px solid green;
}

.btn_primary {
    background: #1890ff;
    border: 2px solid transparent;
    color: white;
    padding: 1px 5px;
    cursor: pointer;
    outline: none;
    transition: linear 0.2s;
}

.btn_primary:hover {
    background: transparent;
    border: 2px solid #1890ff;
}

.btn_danger {
    background: red;
    border: 2px solid transparent;
    color: white;
    padding: 1px 5px;
    cursor: pointer;
    outline: none;
    transition: linear 0.2s;
}

.btn_danger:hover {
    background: transparent;
    border: 2px solid red;
}

.cursor-position {
    background: red;
    width: 2px !important;
}

.cursor-selection {
    background: red;
    opacity: 0.5;
}

.disabled {
    opacity: 0.5;
}